<footer class="footer mt-auto py-3 bg-light text-center">
  <!-- Copyright -->
  <div class="text-dark">
    <%= link_to 'Pricing', pricing_path, class: "btn btn-xs mr-1" %> |
    <%= link_to 'Privacy', privacy_path, class: "btn btn-xs mr-1" %> |
    <%= link_to 'Terms', terms_path, class: "btn btn-xs mr-1" %>
  </div>
  <hr class="bg-dark">
  <div class="text-center text-dark" ">
    © 2022 Copyright:
    <a class="text-dark" href="https://www.aratori.net/">Aratori.net</a>
  </div>
  <!-- Copyright -->
</footer>