<div id="<%= dom_id inbox %>", class="border p-3">
  <p>
    <strong>Name:</strong>
    <%= inbox.name %>
  </p>

  Wrote by <%= inbox.user.email %>
  <span> |
  <a id="message_counter">Messages: <%= inbox.messages_count %> </a>
</div>
